EAUDITORIA_EMAIL=seu_email@empresa.com
EAUDITORIA_PASSWORD=SuaSenha
PORT=3001

# Caminhos para os builds dos frontends (não precisa alterar se usou npm run build:all)
# RAYO_DIST=../rayo/dist
# SUBVENCOES_DIST=../subvencoes/dist
